.laptopModal {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100vh - 80px);
    position: relative;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 40px;
        
    }
    &__headerSection {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        margin-top: 40px;
    }
    &__slider {
        position: relative;
        flex-basis:600px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            width: 80%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .arrow_next{
            position: absolute;
            width: 40px;
            top: 40%;
            right: -30px;            
        }
        .arrow_prev{
            width: 40px;
            position: absolute;
            top:40%;
            left: -30px;
            transform: rotate(180deg);
        }
    }
    &__mainInfo {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        font-size: 24px;
        .laptopModal__InfoBlock {
            display: flex;
            flex-direction: column;
            gap:  30px;
        }
    }
    &__price {
        color: rgb(247, 133, 133);
    }
    &__controllers {
        display: flex;
        flex-direction: column;
        gap: 30px;
        button {
            padding: 10px 20px;
            border-radius: 4px;
            font-size: 20px;
        }

        .add-to-cart{
            background-color: rgb(158, 219, 67);
        }

}

&__controllers-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px
}


.mainSection {
    width: 100%;
    &__block {
        margin-bottom: 30px;
        h2 {
            line-height: 140%;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
    &__element {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        .mainSection__element_controller {
            flex-grow: 1;
            display: inline-flex;
            p {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            div {
                flex-grow: 1;
                border-bottom: 1px dotted #d2d2d2;
            }
        }

    }

}
}

.go-back {
    background-color: rgb(236, 137, 158);
}

.hw-icons {
    height: 40px;
    align-items: center;
    display: flex;
    gap:20px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        padding: 3px;
    }
}

.isCompared {
    background-color: yellow;
    border-radius: 100%;
}