.admin {
    background-color: #f7f7f7;
    min-height: 100vh;
    &__container {
        padding: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
}

.add_section {
    &__header {
        text-align:center;
        font-size: 36px;
    }
    &__buttons-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__button {
        font-size: 18px;
        margin-right: 20px;
        padding: 8px 16px;
        border-radius: 5px;
        background-color: greenyellow;
    }
    .file-input {
        padding: 5px;
        font-weight: 600;
    }
    &__container {
        padding: 2px;
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 20px;
        grid-template-rows: 1fr 1fr 1fr;
        height: 800px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        .inputs {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

        }
    }
    &__area {
        background-color: rgb(235, 235, 235);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    &__area-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        padding: 5px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                align-self:self-start;
                padding-left: 16px;
            }
        }
    }

    &__label {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color:#379424;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

    }
}

.input_error {
    color: red;
    margin-top: 2px;
}

.inputs__container {
    width: 250px;
    input {
        margin-top: 3px;
        width: 100%;
        padding: 4px;
        border: 1px solid green;
        &:focus {
            border: 2px solid green;
            outline:none;
        }
    }

    select {
        width: 100%;
        padding: 4px;
        border: 1px solid green;
    }
   } 

   .form-admin-submit {
    padding: 10px 25px;
    width: 300px;
    margin-top: 20px;
    align-self:  center;
    border-radius: 5px;
   }

   .submit-active {
    background-color: #43b02a;
    color: black;
    font-size: 18px;
    &:hover {
        background-color: #379424;
    }
   }