.admin {
    background-color: #f7f7f7;
    min-height: 100vh;
    &__container {
        padding: 20px;
    }
}

.add_section {
    &__header {
        font-size: 36px;
    }
    &__button {
        margin-top: 10px;
        font-size: 18px;
        margin-right: 5px;
        padding: 5px 15px 5px 15px;
        border-radius: 5px;
        background-color: greenyellow;
    }
    &__container {
        padding: 2px;
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 20px;
        grid-template-rows: 1fr 1fr 1fr;
        height: 800px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        .inputs {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
           .inputs__container {
            width: 250px;
            input {
                margin-top: 3px;
                width: 100%;
                padding: 4px;
                &:focus {
                    border: 2px solid green;
                    outline:none;
                }
            }

            select {
                width: 100%;
                padding: 4px;
            }
           } 
        }
    }
    &__area {
        background-color: rgb(235, 235, 235);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    &__label {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color:#379424;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

    }
}

.input_error {
    color: red;
    margin-top: 2px;
}