.filtersBar {
    position: relative;
    padding: 20px 10px 5px 10px;
    height: 100%;
    &__block {
        h3{
           background-color: #43b02a;
            padding: 3px;
            font-size: 22px;
            margin-bottom: 8px;
            border-bottom: 1px solid #379424 ;
        }
        margin-bottom: 20px;
    }
    &__input {
        padding: 3px;

        label {
        display: block;
        width: 100px;
        cursor: pointer;
        }
        input {
            cursor: pointer;
        }
        font-size: 18px;
        margin-bottom: 3px;
        input {
            margin-right: 4px;
        }
        &:hover {
            background-color: #59f13773;
        }
    }
    &__applyButton {
        display: block;
        margin: 0 auto;
        width: 80%;
        font-size: 20px;
        padding: 10px 10px;
        border-radius: 8px;
        color: white;
        background-color: #43b02a;
        &:hover {
            background-color: #379424;
        }
    }

    &__close {
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
    }
@media (max-width:400px) {
    position: absolute;
    background-color: #99f091fa;
    z-index: 100;
    width: 150px;
    left: -300px;
}

}

.filtersBar__active {
    left: 0px;
}