.checkout {
    min-height:  calc(100vh - 80px);
    padding: 0px 20px;
    h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__container {
        padding: 50px 0;
    }
}