.login {
    color: black;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__form {
        height: 100%;
        input {
            border: 2px solid #43b02a;
            height: 35px;
            width: 300px;
            padding: 4px;
            border-radius: 5px;
        }
        input:focus {
            outline:3px solid #1c790a;
            border-radius: 5px;
            border: none;
        }
        label {
            div {
                margin-bottom: 3px;
            }
        }
    }
}
.input-container {
    margin-bottom: 15px;
}

.submit-container {
    margin-top: 20px;
    input {
        background-color: #43b02a;
        border-radius: 5px;
        height: 45px;
    }
}

.input-container-last{
    margin-bottom: 0px;
}

.form__container {
    position: relative;
    padding: 40px 20px;
    border: 2px solid green;
}
.form_header {
    font-size: 28px;
    text-align:center;
    position: absolute;
    top: -40px;
    left: 40%;
}
.to-login {
    margin-top: 15px;
    span {
        color:#43b02a;
        cursor: pointer;
        text-decoration: underline;
    }
}