.compareWindow {
    color: black;
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
    &__warning {
        text-align: center;
        font-size: 24px;
        color: gray;
    }
    &__actions {
         display: flex;
         justify-content: space-evenly;
    }
    @media (max-width: 600px) {
        padding: 0px;
    }
}


.comp-remove-btn {
    display: block;
    width: 100%;
    transition: 0.15s;
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 5px;
    background-color: rgb(243, 120, 120);
    &:hover {
        background-color: rgb(255, 80, 80);
    }

    @media (max-width: 600px) {
        margin-left: 0px;
        padding: 8px 12px;
    }
}
.actions_container {
    flex-basis: 200px;

    @media (max-width: 600px) {
        flex-basis: 150px;
    }
}
.table {
    max-width: 800px;
    &__container {
    }
    &__images-container{
        display:  grid;
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        grid-template-rows: 400px;
        gap: 10px;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 505px) {
            grid-template-rows: 300px;
        }

        @media (max-width: 405px) {
            grid-template-rows: 200px;
        }
    }
    &__data-container{
        border:  1px solid gray;
        border-bottom: none;
        display:  grid;
        grid-template-columns: 20% 40% 40%;

        @media (max-width: 700px) {
            grid-template-columns: 50% 50%;
        }
    }

    &__column {
        border-bottom: 1px solid gray;
        border-right:  1px solid gray;
        display: grid;
        background-color: rgb(255, 255, 255);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10,90px);
        &:last-child {
            border-right: none; 
          }
        div {
            background-color: rgb(255, 255, 255);
            font-size: 20px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid gray;
            &:last-child {
              border-bottom: none;  
            }

            @media (max-width: 850px) {
                font-size: 16px;
            }

            @media (max-width: 600px) {
                font-size: 14px;
                padding: 0;
            }
        }
    }
}

.key_column {
    @media (max-width: 700px) {
     display: none;
    }
}
.close_window_controller {
    margin-top: 40px;
    display: flex;
    justify-content:  center;
}
.close_window {
    display: block;
    width: 50%;
    font-size: 18px;
    background-color: green;
    padding: 10px 20px;
}